/* login.css */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #74ebd5, #acb6e5); /* gradient background */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.navbar {
    width: 100%;
    background: #004458;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
}

.navbar-links {
    list-style: none;
    display: flex;
    margin-right: 20px;
}

.navbar-links li {
    margin: 0 15px;
}

.navbar-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.navbar-links a:hover {
    color: #2fcdfd;
}

.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.login-container {
    background: linear-gradient(135deg, #2fcdfd, #004458); /* two-color gradient */
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
    margin-top: 50px;
    padding-bottom: 100px;
}

h1 {
    color: #fff; /* white text color */
    margin-bottom: 20px;
    font-size: 24px;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    color: #fff; /* white text color */
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    background: #ff6f61; /* coral background color */
    border: none;
    color: #00befd;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background 0.3s ease, transform 0.3s ease;
    margin-top: 30px;
}

button:hover {
    background: #e5534b; /* darker coral background on hover */
    transform: translateY(-2px);
}

button:active {
    transform: translateY(0);
}
.new a {
    color: white;
    text-decoration: none;
    font-size: 12px;
    background: none;
    border: none;
    cursor: pointer; 
  }
  
  .new a:hover{
    text-decoration:underline;
  } 
